[user]
	email = syswbdyx@gmail.com
	name = touchsky
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[credential]
	helper = manager
[core]
	autocrlf = input
[init]
	defaultBranch = main
